*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

@font-face {
    font-family: qiaoqiaoti;
    src: url("../font/HandWrittenFont.ttf");
}

/*BackGround Music*/
#music{
    width: 14.49vw;
    height: 14.49vw;
    position: fixed;
    top:2.42vw;
    left:80%;
    z-index: 9;
}

.musicIg{
    width: 10.63vw;
    height: 10.63vw;
    position: absolute;
    top:1.93vw;
    left: 1.93vw;
    cursor: pointer;
}

.musicImg{
    width: 14.49vw;
    height: 14.49vw;
}

.musicIg {
    animation: turn 6s infinite linear;
}

@keyframes turn {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

/*容器*/
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*第一页*/
.showpage {
    display: block;
    opacity: 1;
    transform: rotate(0deg);
    border-radius: 0px;
}
.item {
    position: absolute;
}
.showpage.page1_1{
    width: 64.06vw;
    height: 49.56vw;
    top: 30.69vw;
    left: 16.72vw;
    transform: rotate(178deg);
}
.amious {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.blue_bg{
    width: 100%;
    height: 100%;
    background: rgb(189, 254, 255);
}
.showpage.page1_2{
    width: 67.19vw;
    height: 51.15vw;
    top: 30.51vw;
    left: 16.25vw;
    transform: rotate(358deg);
}
.el-bgimg{
    width: 100%;
    height: 100%;
    display: block;
    top: 0px;
    left: 0px;
    border-radius: 0px;
    box-shadow: black 0px 0px 0px;
    border-style: none;
}
.showpage.page1_3{
    width: 2.5vw;
    height: 3.53vw;
    top: 29.63vw;
    left: 13.28vw;
}
.showpage.page1_4{
    width: 2.5vw;
    height: 3.53vw;
    top: 79.54vw;
    left: 84.06vw;
    transform: rotate(182deg);
}
.showpage.page1_5{
    width: 56.41vw;
    height: 9.35vw;
    top: 99.12vw;
    left: 26.88vw;
}
.showpage.page1_6{
    width: 56.25vw;
    height: 6.88vw;
    top: 92.24vw;
    left: 15.94vw;
}
.showpage.page1_7{
    width: 17.66vw;
    height: 13.23vw;
    top: 124.34vw;
    left: 41.25vw;
}
.showpage.page1_8{
    width: 19.69vw;
    height: 3.35vw;
    top: 141.09vw;
    left: 40.47vw;
}
.showpage.page1_9{
    width: 7.34vw;
    height: 4.56vw;
    top: 147.62vw;
    left: 46.72vw;
}
.showpage.page1_10{
    width: 16.875vw;
    height: 6.70vw;
    top: 27.69vw;
    left: 40.47vw;
    opacity: 0.5;
    transform: rotate(179deg);
}
.showpage.page1_11{
    width: 143.91vw;
    height: 162.43vw;
    top: 7.58vw;
     left: -152.19vw;
}
.showpage.page1_12{
    width: 143.91vw;
    height: 162.43vw;
    top: 7.41vw;
    left: 108.28vw;
}
.showpage.page1_13{
    width: 143.91vw;
    height: 162.43vw;
    top: -170.72vw;
    left: -18.75vw;
}
.showpage.page1_14{
    width: 143.91vw;
    height: 162.43vw;
    top: 167.9vw;
    left: -21.56vw;
}

/*第二页*/
.showpage.page2_1{
    width: 59.37vw;
    height: 91.36vw;
    top: -62.96vw;
    left: 35.31vw;
}
.showpage.page2_2{
     width: 48.28vw;
     height: 50.97vw;
     top: 87.48vw;
     left: 7.66vw;
     transform: rotate(347deg);
 }
.showpage.page2_3{
    width: 41.56vw;
    height: 41.27vw;
    top: 92.77vw;
    left: 10.94vw;
    transform: rotate(350deg);
}
.showpage.page2_4{
    width: 48.28vw;
    height: 50.97vw;
    top: 118.52vw;
    left: 45.78vw;
}
.showpage.page2_5{
    width: 43.75vw;
    height: 46.03vw;
    top: 25.57vw;
    left: 7.97vw;
    transform: rotate(190deg);
}
.showpage.page2_6{
    width: 38.13vw;
    height: 37.04vw;
    top: 29.63vw;
    left: 11.25vw;
    transform: rotate(15deg);
}
.showpage.page2_7{
    width: 48.28vw;
    height: 50.97vw;
    top: 47.27vw;
    left: 46.09vw;
    transform: rotate(171deg);
}
.showpage.page2_8{
    width: 41.56vw;
    height: 41.27vw;
    top: 51.85vw;
    left: 49.84vw;
    transform: rotate(355deg);
}
.showpage.page2_9{
    width: 85.63vw;
    height: 26.46vw;
    top: 74.43vw;
    left: 4.69vw;
}
.el-text{
    width: 85.63vw;
    height: 26.46vw;
    font-family: normal;
    border-color: rgb(0, 0, 0);
    border-style: none;
    border-radius: 0px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    color: rgb(99, 99, 99);
    font-size: 3.125vw;
    line-height: 1.5;
    box-shadow: black 0px 0px 0px;
    letter-spacing: 0px;
}
.showpage.page2_10{
    width: 85.63vw;
    height: 26.46vw;
    top: 103.70vw;
    left: 57.97vw;
}
.showpage.page2_11{
    width: 41.56vw;
    height: 41.27vw;
    top: 123.81vw;
    left: 49.06vw;
    transform: rotate(3deg);
}
.showpage.page2_12{
    width: 21.56vw;
    height: 22.4vw;
    top: 144.62vw;
    left: 13.91vw;
    transform: rotate(343deg);
}
.showpage.page2_13{
    width: 9.06vw;
    height: 8.64vw;
    top: 15.87vw;
    left: 59.23vw;
}
.showpage.page2_14{
    width: 34.9312px;
    height: 8.64vw;
    top: 64.254px;
    left: 68.13vw;
}
.showpage.page2_15{
    width: 6.56vw;
    height: 8.64vw;
    top: 15.87vw;
    left: 75.56vw;
}
.showpage.page2_16{
    width: 6.56vw;
    height: 8.64vw;
    top: 15.52vw;
    left: 82.97vw;
}
.showpage.page2_17{
    width: 7.03vw;
    height: 9.17vw;
    top: 15.52vw;
    left: 89.69vw;
}
.showpage.page2_18{
    width: 8.59vw;
    height: 11.46vw;
    top: 27.16vw;
    left: 59.23vw;
}
.showpage.page2_19{
    width: 4.375vw;
    height: 11.46vw;
    top: 27.16vw;
    left: 68.13vw;
}
.showpage.page2_20{
    width: 13.125vw;
    height: 11.82vw;
    top: 26.81vw;
    left: 73.59vw;
}
.showpage.page2_21{
    width: 8.59vw;
    height: 11.46vw;
    top: 27.16vw;
    left: 86.88vw;
}

/*第三页*/
.showpage.page3_1{
    width: 100vw;
    height: 59.26vw;
    top: 0px;
    left: 0px;
}
.showpage.page3_2{
    width: 100vw;
    height: 75.66vw;
    top: 101.59vw;
    left: 0px;
    opacity: 0.69;
}
.showpage.page3_3{
    width: 100vw;
    height: 41.98vw;
    top: 59.26vw;
    left: 0px;
    opacity: 0.3;
}
.showpage.page3_4{
    width: 99.22vw;
    height: 27.86vw;
    top: 65.79vw;
    left: 4.53vw;
}
.el-text.text3_1{
    width: 99.22vw;
    height: 27.86vw;
    font-family: qiaoqiaoti;
    border-color: rgb(0, 0, 0);
    border-style: none;
    border-radius: 0px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 4.375vw;
    line-height: 1.8;
    box-shadow: black 0px 0px 0px;
    letter-spacing: 0px;
    top: 0px;
    left: 0px;
}
.showpage.page3_5{
    width: 100vw;
    height: 20.28vw;
    top: 60.85vw;
    left: -100vw;
    opacity: 0.5;
}
.showpage.page3_6{
    width: 100vw;
    height: 20.28vw;
    top: 81.13vw;
    left: 100vw;
    opacity: 0.5;
}
.showpage.page3_7{
    width: 45.31vw;
    height: 57.14vw;
    top: 0px;
    left: 3.59vw;
}
.showpage.page3_8{
    width: 90vw;
    height: 72.84vw;
    top: 103.7vw;
    left: 5vw;
}
.showpage.page3_9{
    width: 26.88vw;
    height: 26.1vw;
    top: 41.45vw;
    left: -4.22px;
    transform: rotate(130deg);
}
.showpage.page3_10{
    width: 24.22vw;
    height: 25.57vw;
    top: 92.59vw;
    left: 76.72vw;
    transform: rotate(324deg);
}
.showpage.page3_11{
    width: 45vw;
    height: 57.32vw;
    top: 0px;
    left: 50.78vw;
}

/*第四页*/
.showpage.page4_1{
    width: 99.84vw;
    height: 177.43vw;
    top: 0px;
    left: 0px;
    opacity: 0.15;
}
.showpage.page4_2{
    width: 65.47vw;
    height: 44.44vw;
    top: 133.33vw;
    left: 17.79vw;
}
.showpage.page4_3{
    width: 65.47vw;
    height: 44.27vw;
    top: 88.36vw;
    left: 17.19vw;
}
.showpage.page4_4{
    width: 65vw;
    height: 44.44vw;
    top: 0px;
    left: 17.19vw;
}
.showpage.page4_5{
    width: 65.16vw;
    height: 44.27vw;
    top: 44.62vw;
    left: 17.66vw;
}
.ling_right{
    width: 17.19vw;
    height: 19.4vw;
    left: 82.81vw;
    opacity: 0.4;
}
.showpage.page4_6,.showpage.page4_15{
    top: 1.59vw;
}
.showpage.page4_7,.showpage.page4_16{
    top: 20.99vw;
}
.showpage.page4_8,.showpage.page4_17{
    top: 40.39vw;
}
.showpage.page4_9,.showpage.page4_20{
    top: 98.59vw;
}
.showpage.page4_10,.showpage.page4_19{
    top: 79.19vw;
}
.showpage.page4_11,.showpage.page4_18{
    top: 59.79vw;
}
.showpage.page4_12,.showpage.page4_23{
    top: 156.8vw;
}
.showpage.page4_13,.showpage.page4_22{
    top: 137.39vw;
}
.showpage.page4_14,.showpage.page4_21{
    top: 117.99vw;
}
.ling_left{
    width: 17.19vw;
    height: 19.4vw;
    left: 0px;
    opacity: 0.4;
}
.showpage.page4_24,.showpage.page4_24
.showpage.page4_24,.showpage.page4_24,
.showpage.page4_24,.showpage.page4_24{
    width: 27.66vw;
    height: 11.29vw;
    left:77.5vw;
}
.four_text{
    width: 27.66vw;
    height: 11.29vw;
    font-family: fangmeng;
    border-color: rgb(0, 0, 0);
    border-style: none;
    border-radius: 0px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: rgb(84, 84, 84);
    font-size: 7.5vw;
    line-height: 1.2;
    box-shadow: black 0px 0px 0px;
    letter-spacing: 0px;
}
.el-text.four_text{
    width: 27.66vw;
    height: 11.29vw;
    font-family: fangmeng;
    border-color: rgb(0, 0, 0);
    border-style: none;
    border-radius: 0px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: rgb(84, 84, 84);
    font-size: 7.5vw;
    line-height: 1.2;
    box-shadow: black 0px 0px 0px;
    letter-spacing: 0px;
}
.four_text{
    width: 27.66vw;
    height: 11.29vw;
}
.showpage.page4_24,.four_text1{
    top: 25.57vw;
    left: 77.5vw;
}
.showpage.page4_25,.four_text2{
    top: 44.62vw;
    left: 77.97vw;
}
.showpage.page4_26,.four_text3{
    top: 64.37vw;
    left: 77.5vw;
}
.showpage.page4_27,.four_text4{
    top: 83.6vw;
    left: 77.97vw;
}
.showpage.page4_28,.four_text5{
    top: 103.53vw;
    left: 77.97vw;
}
.showpage.page4_29,.four_text6{
    top: 143.36vw;
    left: -5.31vw;
}
.showpage.page4_30,.four_text7{
    top: 122.58vw;
    left: -5.31vw;
}
.showpage.page4_31,.four_text8{
    top: 102.47vw;
    left: -5.16vw;
}
.showpage.page4_32,.four_text9{
    top: 63.85vw;
    left: -5.47vw;
}
.showpage.page4_33,.four_text10{
    top: 83.42vw;
    left: -5.31vw;
}

/*第五页*/
.showpage.page5_1{
    width: 100vw;
    height: 177.78vw;
    top: 0px;
    left: 0px;
}
.page5_2,.page5_3,
.page5_4,.page5_5,
.page5_6,.page5_7,
.page5_8,.page5_9{
    width: 12.5vw;
    height: 177.78vw;
    opacity: 0.5;
    top: 0px;
    left: 0px;
}
.showpage.page5_3{
    left: 12.5vw;
}
.showpage.page5_4{
    left: 25vw;
}
.showpage.page5_5{
    left: 37.5vw;
}
.showpage.page5_6{
    left: 50vw;
}
.showpage.page5_7{
    left: 62.5vw;
}
.showpage.page5_8{
    left: 75vw;
}
.showpage.page5_9{
    left: 87.5vw;
}
.showpage.page5_10{
    width: 38.75vw;
    height: 31.57vw;
    top: 1.24vw;
    left: 42.5vw;
}
.showpage.page5_11{
    width: 85.31vw;
    height: 71.43vw;
    top: 32.45vw;
    left: 7.03vw;
    opacity: 0.7;
}
.showpage.page5_12{
    width: 80.62vw;
    height: 65.08vw;
    top: 35.1vw;
    left: 9.22vw;
}
.showpage.page5_13{
    width: 113.44vw;
    height: 20.28vw;
    top: 245.333px;
    left: -79.5656px;
}
.el-text.text5_1{
    width: 113.44vw;
    height: 20.28vw;
    text-align: center;
    color: rgb(227, 228, 229);
    font-size: 4.375vw;
    line-height: 1.8;
    top: 0px;
    left: 0px;
}
.showpage.page5_14{
    width: 113.44vw;
    height: 27.86vw;
    top: 128.22vw;
    left: -19.53vw;
}
.el-text.text5_2{
    width: 113.44vw;
    height: 27.86vw;
    text-align: right;
    color: rgb(0, 0, 0);
    font-size: 4.375vw;
    line-height: 1.8;
    top: 0px;
    left: 0px;
}

/*第六页*/
.showpage.page6_1{
    width: 100vw;
    height: 64.9vw;
    top: 112.7vw;
    left: 0px;
}
.showpage.page6_2{
    width: 100vw;
    height: 112.88vw;
    top: 0px;
    left: 0px;
    opacity: 0.4;
}
.showpage.page6_3{
    width: 50vw;
    height: 56.44vw;
    top: 0px;
    left: 0px;
    opacity: 0.25;
}
.showpage.page6_4{
    width: 50vw;
    height: 56.44vw;
    top: 0px;
    left: 50vw;
    opacity: 0.25;
}
.showpage.page6_5{
    width: 50vw;
    height: 56.44vw;
    top: 56.44vw;
    left: 0px;
    opacity: 0.25;
}
.showpage.page6_6{
    width: 50vw;
    height: 56.44vw;
    top: 56.44vw;
    left: 50vw;
    opacity: 0.25;
}
.showpage.page6_7{
    width: 82.81vw;
    height: 93.47vw;
    top: 10.94vw;
    left: 8.59vw;
    opacity: 0.6;
}
.showpage.page6_8{
    width: 130.16vw;
    height: 54.32vw;
    top: 33.86vw;
    left: -14.84vw;
}
.el-text.text6_1{
    width: 130.16vw;
    height: 54.32vw;
    text-align: center;
    color: rgb(18, 146, 179);
    font-size: 4.69vw;
    line-height: 1.8;
    top: 0px;
    left: 0px;
}
.showpage.page6_9{
    width: 100vw;
    height: 16.23vw;
    top: 112.88vw;
    left: -100vw;
    opacity: 0.25;
}
.showpage.page6_10{
    width: 100vw;
    height: 16.23vw;
    top: 129.1vw;
    left: 100.47vw;
    opacity: 0.25;
}
.showpage.page6_11{
    width: 100vw;
    height: 16.23vw;
    top: 145.33vw;
    left: -100vw;
    opacity: 0.25;
}
.showpage.page6_12{
    width: 100vw;
    height: 16.23vw;
    top: 161.55vw;
    left: -100vw;
    opacity: 0.25;
}
.showpage.page6_13{
    width: 113.44vw;
    height: 20.46vw;
    top: 93.83vw;
    left: -13.44vw;
}
.el-text.text6_2{
    width: 113.44vw;
    height: 20.46vw;
    text-align: right;
    color: rgb(0, 0, 0);
    font-size: 4.69vw;
    line-height: 1.8;
    top: 0px;
    left: 0px;
}
.el-text{
    font-family: qiaoqiaoti!important;
}